# for local dev

# your port
PORT=1000

# frontend url - 3000
FRONTEND_URL=http://localhost:3000

# database url - you can get this from neon db after you make a project
DATABASE_URL=

# JWT secret - you can generate your own jwt secret by using ` node -e "console.log(require('crypto').randomBytes(64).toString('hex'))" `
JWT_SECRET=anything_secret

# gmail user - the email id which will be used to send the email
GMAIL_USER=user@example.com

# gmail pass -
# to generate this go to - myaccount.google.com and then to security and then enable 2FA, then search 'App Passwords',
# then sign in for verification, then write the name of the app, a 16 digit password will be generated which can be copied and pasted here
GMAIL_PASS=<16 digit password>

# node env if using production then this will help set the cookie options as strict
NODE_ENV=development

